<div class="header-page" *ngIf="!isHomePage()">
    <div class="header-container">
        <div class="header-left">
            <a routerLink="/pokedex" class="header-btn">Mon Pokedex</a>
        </div>
        <div class="header-center">
            <a routerLink="/" class="cursor-pointer">
                <img src="img/pokelab-logo.png" alt="PokéLab Logo" class="header-logo">
            </a>
        </div>
        <div class="header-right">
            @if (isLoggedIn()) {
                <button type="button" class="header-btn" (click)="logout()">Se Déconnecter</button>
            } @else {
                <button type="button" class="header-btn" (click)="goToLogin()">Mon Compte</button>
            }
        </div>
    </div>
</div>
