<section class="pokedex-page">
    <header class="">
        <div class="lang-selector">
            <div class="selected-lang">
                <img src="img/fr_flag.svg" alt="fr">fr<div class="css-cosqva"></div> 
                <span class="bold">></span>
            </div>
        </div>
        <app-logo></app-logo>
    </header>
    <div class="sticky-bar">
        <div class="search">
            <input placeholder="Dracaufeu..." class="input-search" value="">
            <div class="icons-search">
                <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="css-5d1ynz" style="border-radius: 50px; cursor: pointer; background-color: rgb(255, 255, 255);">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M15 10.5A3.502 3.502 0 0 0 18.355 8H21a1 1 0 1 0 0-2h-2.645a3.502 3.502 0 0 0-6.71 0H3a1 1 0 0 0 0 2h8.645A3.502 3.502 0 0 0 15 10.5zM3 16a1 1 0 1 0 0 2h2.145a3.502 3.502 0 0 0 6.71 0H21a1 1 0 1 0 0-2h-9.145a3.502 3.502 0 0 0-6.71 0H3z" fill="#000"></path>
                </svg>
                <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="css-5d1ynz" style="border-radius: 50px; cursor: pointer; background-color: rgb(200, 21, 22);">
                    <path d="M15.7955 15.8111L21 21M18 10.5C18 14.6421 14.6421 18 10.5 18C6.35786 18 3 14.6421 3 10.5C3 6.35786 6.35786 3 10.5 3C14.6421 3 18 6.35786 18 10.5Z" stroke="#fff" stroke-width="2.5"></path>
                </svg>
            </div>
        </div>
    </div>
    <div class="container p-4 mx-auto">
        <!-- <h2 class="text-2xl font-bold mb-4">Mes créatures</h2>
        <div class="mb-4 flex justify-end">
            <a routerLink="/pokedex/creer"
                class="inline-flex items-center gap-2 px-4 py-2 rounded-lg bg-green-700 text-white hover:opacity-90 cursor-pointer">
                + Ajouter un Pokémon
            </a>
        </div> -->

        <!-- <ng-container *ngIf="pokemons$ | async as pokemons; else loading">
            <ng-container *ngIf="pokemons.length; else empty">
                <ul class="grid gap-4 sm:grid-cols-2 lg:grid-cols-3">
                    <li *ngFor="let p of pokemons; trackBy: trackById" class="rounded-xl shadow bg-white">
                        <a [routerLink]="['/creatures', p.id, 'edit']" class="flex items-center gap-4 p-4 block">
                            <img [src]="p.imageUrl" [alt]="p.name" class="w-20 h-20 object-contain rounded-lg bg-gray-50" />
                            <div class="flex-1">
                                <div class="flex items-center justify-between gap-2">
                                    <h3 class="text-lg font-semibold truncate">{{ p.name }}</h3>
                                    <span
                                        class="text-xs px-2 py-1 rounded-full bg-orange-100 text-orange-700 whitespace-nowrap">
                                        {{ p.type1 }}
                                    </span>
                                </div>
                                <p class="text-sm text-gray-500 mt-1">PV: {{ p.hp }} • ATK: {{ p.attack }} • Nv. {{ p.level
                                    }}</p>
                            </div>
                        </a>

                        <div class="flex items-center justify-end gap-2 px-4 pb-4">
                            <a [routerLink]="['/creatures', p.id, 'edit']"
                                class="px-3 py-1.5 rounded bg-blue-600 text-white cursor-pointer hover:opacity-90">
                                Modifier
                            </a>
                            <button type="button"
                                class="px-3 py-1.5 rounded bg-red-600 text-white cursor-pointer hover:opacity-90"
                                (click)="onDelete(p, $event)">
                                Supprimer
                            </button>
                        </div>
                    </li>
                </ul>

            </ng-container>
        </ng-container> -->

        <!-- <ng-template #loading>
            <p>Chargement…</p>
        </ng-template>
        <ng-template #empty>
            <p>Aucune créature pour le moment.</p>
        </ng-template> -->
        <div class="pokedex-list-container">
            
        </div>
    </div>
</section>