<section class="pokedex-page">
    <header class="">
        <div class="account-btn">
            @if (isLoggedIn()) {
                <button type="button" class="header-btn" (click)="logout()">Se Déconnecter</button>
            }
        </div>
        <app-logo></app-logo>
    </header>
    <div class="sticky-bar">
        <app-search-bar [types]="types" [onFilterChange]="onFilterChange.bind(this)"></app-search-bar>
    </div>
    <!-- <div class="container p-4 mx-auto">
        
    </div> -->
    <div class="pokedex-container-list">
        @if (showEmptyMessage) {
            <div class="empty-filter-container">
                <h2>Aucun Pokémon ne correspond à vos filtres</h2>
                <p>Ajustez vos critères de recherche</p>
                <button class="btn-reset-filters" (click)="resetFilters()">Réinitialiser les filtres</button>
            </div>
        } @else {
            <app-pokedex-list [pokemons$]="displayedPokemons$" [types]="types"></app-pokedex-list>
        }
    </div>
    <a routerLink="/pokedex/creer" class="fab-create-pokemon">
        +
    </a>
</section>
