<div class="auth-page">
  <div class="auth-logo">
    <app-logo></app-logo>
  </div>
  <div class="auth-left">
    <form [formGroup]="registerForm" (ngSubmit)="register()" class="auth-form">
      <h2>Inscription</h2>

      <div class="form-group">
        <label for="username">Nom d'utilisateur</label>
        <input id="username" type="text" formControlName="username">
        <div *ngIf="registerForm.get('username')?.errors?.['required'] && registerForm.get('username')?.touched" class="error-message">
          Requis.
        </div>
        <div *ngIf="registerForm.get('username')?.errors?.['minlength'] && registerForm.get('username')?.touched" class="error-message">
          3 caractères minimum.
        </div>
      </div>

      <div class="form-group">
        <label for="password">Mot de passe</label>
        <input id="password" type="password" formControlName="password">
        <div *ngIf="registerForm.get('password')?.errors?.['required'] && registerForm.get('password')?.touched" class="error-message">
          Requis.
        </div>
         <div *ngIf="registerForm.get('password')?.errors?.['minlength'] && registerForm.get('password')?.touched" class="error-message">
          4 caractères minimum.
        </div>
      </div>

      <div *ngIf="errorMessage" class="error-message global-error">
        {{ errorMessage }}
      </div>

      <button type="submit" [disabled]="registerForm.invalid" class="auth-button">
        S'inscrire
      </button>

      <p class="auth-link">
        Déjà un compte ? <a routerLink="/login">Connectez-vous</a>
      </p>
    </form>
  </div>

  <div class="auth-right" aria-hidden="true"></div>
</div>