@if (pokemons$ | async; as pokemons) {
    @if (pokemons.length) {
        @for (pokemon of pokemons; track pokemon.id) {
            <a [routerLink]="['/pokedex', pokemon.id]" class="pokemon-link">
                <div class="pokemon-item"
                     [style.--pokemon-color]="getTypeColor(pokemon.typeId)">
                    <div class="pokemon-inner">
                        <div class="pokemon-item-header">
                            <span class="pokemon-item-id">lv{{ pokemon.level }}</span>
                            <div class="pokemon-item-type-wrapper">
                                @if (pokemon.isFavorite) {
                                    <div class="favorite-badge">⭐</div>
                                }
                                <div class="pokemon-item-type" [ngStyle]="{ 'background-color': getTypeColor(pokemon.typeId) }">
                                    <img [src]="getTypeIcon(pokemon.typeId)" [alt]="getTypeById(pokemon.typeId)?.name || 'Type'" class="type-icon">
                                    <span class="type-name">{{ getTypeById(pokemon.typeId)?.name || 'Inconnu' }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="pokemon-item-image">
                            <img [src]="pokemon.imageUrl" [alt]="pokemon.name">
                        </div>
                        <div class="pokemon-item-name">
                            {{ pokemon.name }}
                        </div>
                    </div>
                </div>
            </a>
        }
    } @else {
        <div class="empty-pokedex">
            <h2>Vous n'avez aucun pokemon pour l'instant.</h2>
            <p>Cliquez sur le bouton en bas à droite pour en créer un !</p>
        </div>
    }
} @else {
    <div class="loading-pokedex">
        <p>Chargement des créatures...</p>
    </div>
}
